.App {
  margin: 0;
  text-align: center;
}

.App-header {
  margin: 0;
  background-color: #fff;
  background-image: url('./images/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #0acaff;
}

.App-link {
  color: #0acaff;
}
